# This is an implicit value, here for clarity
--index https://pypi.python.org/simple/

# main
mkdocs-material==8.0.1

# plugins
mkdocs-git-revision-date-localized-plugin==0.10.3
mkdocs-minify-plugin==0.5.0
