# This is an implicit value, here for clarity
--index https://pypi.python.org/simple/

# main
mkdocs-material==8.1.7

# plugins
mkdocs-git-revision-date-localized-plugin==0.11.1
mkdocs-minify-plugin==0.5.0
